<app-layout [menus]="menus" [title]="'My System'" (itemClick)="onItemClick($event)">
  <div style="padding:20px">
    <p *ngIf="selectedMenu">{{selectedMenu.text}}</p>
    <p *ngIf="!selectedMenu">Content.</p>
 
    <eui-linkbutton (click)="d1.open()">Open Dialog</eui-linkbutton>
    <eui-dialog #d1 
            [title]="'Basic Dialog'"
            [panelStyle]="{width:'400px',height:'200px'}"
            [modal]="true">
    
            <app-modal></app-modal>
    </eui-dialog>
  </div>
</app-layout>