

.main-header{
    color: #222;
    line-height: 30px;
}
.side-toggle{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 6px;
    left: 5px;
    margin-right: 10px;
    color: #000;
    fill: #000;
    cursor: pointer;
}
.side-menu-header .side-toggle{
    color: #fff;
    fill: #fff;
}
.side-menu-header{
    background: #444;
    color: #fff;
    line-height: 30px;
}
.side-menu{
    background: #444;
    color: #fff;
    margin: 0;
    padding: 10px 0;
}
.side-menu-item{
    padding: 5px 0;
}
.side-menu-item:hover{
    background: #666;
}
.side-menu .side-toggle{
    color: #fff;
    fill: #fff;
    top: 0;
    left: 8px;
    margin-right: 14px;
}
.side-menu-icon{
    display: inline-block;
    vertical-align: middle;
}
.side-menu-text{
    display: inline-block;
    vertical-align: middle;
}




.error{
    color: red;
    font-size: 12px;
    margin: 4px 0;
}


.mytitle{
    font-size: 27px;
    margin-top: 50px;
    text-align: center;
}
.mytext{
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}